html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  width: 100%;
  max-width: 1500px;
}

main {
  height: 100%;
  padding-bottom: 0;
}

#logo-header {
  width: 36px;
  height: 36px;
}

#portfolio {
  max-width: 512px;
  margin: 50px auto;
  text-align: center;
}

#logo-content {
  width: 80%;
  height: 80%;
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
}

.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}

.mdl-grid {
  max-width: 1024px;
  margin: auto;
}

.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.mdl-card {
  min-height: 0;
}

.mdl-card {
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }

  #user-container {
    top: 72px;
    background-color: rgb(3, 155, 229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }

  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}

.mdl-textfield__label:after {
  background-color: #0288D1;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}
